<div>
  <h1>Plantilla funciones multiple</h1>
  <form #funcionesForm="ngForm">
    <select
      name="selectfunciones"
      #selectfunciones
      class="form-control"
      multiple
    >
      @for (funcion of funciones; track funcion){
      <option value="{{ funcion }}">{{ funcion }}</option>
      }
    </select>
    <br />
    <button (click)="mostrarPlantilla()" class="btn btn-success">
      Mostrar plantilla
    </button>
  </form>
  <hr />
  <table class="table table-primary">
    <thead>
      <tr>
        <th>Id empleado</th>
        <th>Id hospital</th>
        <th>Id sala</th>
        <th>Apellido</th>
        <th>Funcion</th>
        <th>Turno</th>
        <th>Salario</th>
      </tr>
    </thead>
    <tbody>
      @for (emp of empleados; track emp){
      <tr>
        <td>{{ emp.idEmpleado }}</td>
        <td>{{ emp.idHospital }}</td>
        <td>{{ emp.idSala }}</td>
        <td>{{ emp.apellido }}</td>
        <td>{{ emp.funcion }}</td>
        <td>{{ emp.turno }}</td>
        <td>{{ emp.salario }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
